.users-description {
  width: 1085px;
  height: 1085px;
  top: 369px;
  left: 291px;
  background-color: rgb(189, 42, 42);
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 20px;
}
.user-top-bar {
  display: flex;
}
.all-users6 {
  display: flex;
  font-size: 23px;
  margin-top: 50px;
  margin-left: 27px;
  font-weight: 400;
}
.user-add-exp-btn {
  display: flex;
  gap: 20px;
  padding: 10px 24px 10px 16px;
  margin-top: 60px;
  margin-left: 270px;
}
.user-export-btn {
  width: 108px;
  height: 40px;
  padding: 10px 24px 10px 16px;
  margin-left: 300px;
  border-radius: 10px;
  gap: 8px;
  background-color: rgb(243, 242, 244);
  display: flex;
}
.user-export-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.filter-box {
  width: 88px;
  height: 40px;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  display: inline-flex;
  gap: 5px;
  margin-left: 20px;
}
.filter-icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.filter-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  margin-top: 10px;
}
.filter-search {
  display: flex;
}
.status-bar {
  width: 65px;
  height: 19px;
  border-radius: 8px;
  background-color: rgba(205, 255, 205, 1);
  display: flex;
  gap: 5px;
}
.status-bar-two {
  width: 70px;
  height: 19px;
  border-radius: 8px;
  background-color: rgba(255, 224, 224, 1);
  display: flex;
  color: crimson;
  gap: 5px;
}
.color-dot {
  width: 6px;
  height: 6px;
  margin-top: 7px;
  margin-left: 5px;
}
