@import url(https://fonts.googleapis.com/css);
/* @import url("https://fonts.googleapis.com/css?family=Font+Name") */
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    .lcontainer {
      display: flex; 
      justify-content: center;
      align-items: center;
      height: 100px;
      flex-direction: column;
      margin: 480px 490px 380px 489px; 
    }
    .lcontainer form {
      padding: 37px 43px 10px 43px;
      border-radius: 20px;
      border: 1px solid var(--Grey, #DDE2E5);
      background: #FFF;
      display: flex;
      flex-direction: column;
      width: 390px;
      align-items: flex-start;
    }
    .lcontainer form h2{
      color: var(--Black-5, #2B2F32);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 0 auto;
    }
    .lcontainer form h5{
      color: var(--Black-5, #2B2F32);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .lcontainer form h6{
      color: var(--Black-5, #2B2F32);
      text-align: right;
      font-family: var(--Body-Medium-Font, Roboto);
      font-size: var(--Body-Medium-Size, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Body-Medium-Line-Height, 20px); /* 142.857% */
      letter-spacing: var(--Body-Medium-Tracking, 0.25px);
    }
    .lcontainer form h6 a{
      color: #1478A3;
      font-family: var(--Body-Medium-Font, Roboto);
      font-size: var(--Body-Medium-Size, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Body-Medium-Line-Height, 20px);
      letter-spacing: var(--Body-Medium-Tracking, 0.25px);
      text-decoration: none;
    }
    .inputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      margin: 10px 0px 20px 0px;
    }
    .inputGroup input{
      display: flex;
      width: 375px;
      height: 8px;
      padding: 35px 10px 10px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 8px;
      border: 1px solid var(--Black-1, #CFD3D4);
      }
      .inputGroup input:focus{
        outline: none;
      }
    
    .inputGroup input::placeholder{
      color: var(--Black-2, #ABAFB1);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      align-self: stretch;
    }
    .lcontainer  form .button {
      height: 58px;
      width: 400px;
      padding: 0.5rem;
      background: var(--Primary-Bidhub, #1478A3);
      color: #fff;
      border: none;
      cursor: pointer;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      border-radius: 0%;
    }
    .register-login .button2{
      height: 40px;
      width: 461px;
      border-radius: 0%;
      background-color: #FFF;
      border: 1px solid var(--Schemes-Outline, #79747E);
      color: var(--Primary-Bidhub, #1478A3);
      text-align: center;
      font-family: var(--Label-Large-Font, Roboto);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: var(--Label-Large-Line-Height, 20px); /* 125% */
      letter-spacing: var(--Label-Large-Tracking, 0.1px);  
    }
    .register-login .button2:hover{
      background-color: #d8dbe4;
    }

    .inputGroup label{
      position: absolute;
      padding: 8px 0px 0px 20px;
      color: var(--Black-4, #5E6366);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    input:focus + label{
      transform: translateY(-27px);
    }
    .register-login{
    padding: 0px 40px 10px 43px;
    margin-top: 30px;
    }
    .register-login h2{
      color: var(--Black-5, #2B2F32);
      text-align: center;
      /* M3/title/large */
      font-family: var(--Title-Large-Font, Roboto);
      font-size: var(--Title-Large-Size, 22px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--Title-Large-Line-Height, 28px); /* 127.273% */
      letter-spacing: var(--Title-Large-Tracking, 0px);
    }