.slider-bidder {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; /* Make the slider responsive */
  background-color: #e6e7e8;
  margin-top: 105px;
}

.slide-bidder {
  position: relative;
  display: flex; /* Center the image */
  justify-content: center;
  align-items: center;
}

.slide-image {
  width: 75%; /* Keep this responsive */
  max-width: 100%; /* Ensure the image doesn't overflow the container */
  border-radius: 10px;
  margin: auto; /* Center the image within the slider */
  transition: opacity 0.5s ease-in-out; /* Add a transition effect */
}

.caption {
  position: absolute;
  bottom: 20%;
  left: 15%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-size: 200%;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
