.list-photos {
  width: 1085px;
  height: 644px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #fff;
}
.photo-upload {
  width: 256px;
  height: 160px;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(245, 246, 250, 1);
  margin-top: 20px;
  margin-left: 70px;
}
.camera-upload {
  width: 24px;
  margin-left: 110px;
  margin-top: 60px;
}
.list-upload-photo {
  margin-left: 70px;
}
.photo-direction {
  display: flex;
}
