.allcompanies {
  font-size: 25px;
  opacity: 0.5;
  margin-left: 20px;
}
.nav-list-roles {
  display: flex;
  gap: 25px;
  margin-left: 20px;
  opacity: 0.5;
  padding-bottom: 10px;
  /* height: 30px;
    width: 400px;
    background-color: rgba(240, 251, 255, 1); */
}
/* .search-container-company {
    flex: 1;
  } */

.search-input-box {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  width: 400px;
  margin-left: 10px;
  background-color: rgba(240, 251, 255, 1);
}
.search-container-company {
  margin-left: 15px;
  height: 24px;
  width: 24px;
  margin-top: 5px;
}
.filter-search {
  display: flex;
}
.company-search-container {
  display: flex;
}
.export-btn {
  width: 108px;
  height: 40px;
  padding: 10px 24px 10px 16px;
  border-radius: 10px;
  gap: 8px;
  background-color: rgb(243, 242, 244);
  display: flex;
}
.top-bar {
  display: flex;
}
.add-exp-btn {
  display: flex;
  gap: 10px;
}
.export-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.add-user-btn55 {
  width: 125px;
  height: 40px;
  gap: 8px;
  background-color: rgba(20, 120, 163, 1);
  border-radius: 10px;
}
.add-user-txt {
  color: aliceblue;
  position: center;
}
.user-add-exp-btn {
  display: flex;
  gap: 20px;
  padding: 10px 24px 10px 16px;
  margin-top: 10px;
  margin-left: 270px;
}
.filter-box {
  width: 88px;
  height: 40px;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  display: inline-flex;
  gap: 5px;
  margin-left: 20px;
}
.filter-icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.filter-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  margin-top: 10px;
}
