.bottom-bar{
    margin-top: 10px;
    width: 1050px;
    height: 40px;
    background-color:rgba(244, 242, 255, 1);
    display: flex;
    gap: 60px;
}
.rows-class{
    font-size: 12px;
    margin-left: 500px;
    padding-top: 8px;
}
.numbers-class{
    font-size: 12px;
    padding-top: 8px;
}
.next-icon{
width: 10px;
height: 15px;
}

.next-icon2{
width: 10px;
height: 15px;
}
    
